<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<annotation-driven />
	<context:component-scan base-package="com.ihsinformatics.spring.appgpa" />
	<!-- <context:component-scan base-package="com.ihsinformatics.spring.appgpa" /> -->

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/"/>
	
	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/gpa_calculator" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="ihs-dev" />
	</beans:bean>

	<!-- Hibernate 5 SessionFactory Bean definition -->
	<beans:bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
				<beans:value>com.ihsinformatics.spring.appgpa.model.Student</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.Course</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.Semester</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.CourseResults</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.CourseResultsPOJO</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.SemesterResults</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.SemesterResultsPOJO</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.Lookup</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.Result</beans:value>
				<beans:value>com.ihsinformatics.spring.appgpa.model.TopCgpaPOJO</beans:value>
				
			</beans:list>
		</beans:property>
		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect
				</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>
	
	<!--                                  BEANS INITIALIZATION START                                         -->
	
	<!-- Bean For STUDENT -->
	<beans:bean id="studentDao" class="com.ihsinformatics.spring.appgpa.dao.imp.StudentDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="studentService" class="com.ihsinformatics.spring.appgpa.service.imp.StudentServiceImp" >
		<beans:property name="studentDao" ref="studentDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For Course -->
	<beans:bean id="courseDao" class="com.ihsinformatics.spring.appgpa.dao.imp.CourseDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="courseService" class="com.ihsinformatics.spring.appgpa.service.imp.CourseServiceImp" >
		<beans:property name="courseDao" ref="courseDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For Semester -->
	<beans:bean id="semesterDao" class="com.ihsinformatics.spring.appgpa.dao.imp.SemesterDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="semesterService" class="com.ihsinformatics.spring.appgpa.service.imp.SemesterServiceImp" >
		<beans:property name="semesterDao" ref="semesterDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For Course Results -->
	<beans:bean id="courseResultsDao" class="com.ihsinformatics.spring.appgpa.dao.imp.CourseResultsDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="courseResultsService" class="com.ihsinformatics.spring.appgpa.service.imp.CourseResultsServiceImp" >
		<beans:property name="courseResultsDao" ref="courseResultsDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For Semester Results -->
	<beans:bean id="semesterResultsDao" class="com.ihsinformatics.spring.appgpa.dao.imp.SemesterResultsDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="semesterResultsService" class="com.ihsinformatics.spring.appgpa.service.imp.SemesterResultsServiceImp" >
		<beans:property name="semesterResultsDao" ref="semesterResultsDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For Lookup -->
	<beans:bean id="lookupDao" class="com.ihsinformatics.spring.appgpa.dao.imp.LookupDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="lookupService" class="com.ihsinformatics.spring.appgpa.service.imp.LookupServiceImp" >
		<beans:property name="lookupDao" ref="lookupDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For StudentStatistics -->
	<beans:bean id="studentStatisticsDao" class="com.ihsinformatics.spring.appgpa.dao.imp.StudentStatisticsDaoImp" >
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	<beans:bean id="studentStatisticsService" class="com.ihsinformatics.spring.appgpa.service.imp.StudentStatisticsServiceImp" >
		<beans:property name="studentStatisticsDao" ref="studentStatisticsDao"></beans:property>
	</beans:bean>
	
	<!-- Bean For ResultsGeneration -->
	<beans:bean id="resultsService" class="com.ihsinformatics.spring.appgpa.service.imp.ResultsServiceImp" >
	</beans:bean>
	
	<!--                                  BEANS INITIALIZATION ENDED                                         -->
	
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<beans:bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<beans:property name="sessionFactory" ref="sessionFactory" />
	</beans:bean>
	

</beans:beans>